- title("#{@title} - 优优好店")
- keywords(@keywords)
- head_desc(@description)
- path("/article/#{@id}.html")
- mobile_url("https://www.uuhaodian.com/article/#{@id}.html")

%header.header#header
  = render partial: "/coupon/header_bar"
  = render partial: "/coupon/header_top"
  = render partial: "/coupon/header_tab"

= render partial: "/coupon/jd_banner_1200_1"

.wrapper1200.article-container
  %div{style: "width: 900px;"}
    .article-list-container
      %h1{style: "border-bottom: 1px solid #f6f6f6;padding-bottom: 5px;"} #{@title}
      - @articles.each do |a|
        .item
          %a{href: "/article/#{a["id"]}.html"}
            %img{src: "#{a["img_url"]}"}
          .info 
            %a{href: "/article/#{a["id"]}.html"}
              %p.title #{a["title"]}
            %p.time 更新于 #{a["updated_at"]}
            %p.tag
              - a["tags"].split(',').each do |tag|
                %span.article-tag 
                  %i #
                  %a{href: "/article/tag_#{URI.encode(tag)}/"} #{tag}

  %aside
    %img{src: "/img/lbanner1.png", style: "width: 180px;height:180px;margin: 0 auto;"}
    %div{style: "text-align:center;color: #FF6434;"} 关注微信公众号 UU好店
    %div{style: "padding: 10px;text-align:center;color: #FF6434;"} 查券领礼金 淘宝/京东/拼多多
    %h3 好货推荐
    - @products.each do |pr|
      %a{href: "/jdhh/#{pr["id"]}/"}
        %p #{pr["title"]}
    %h3{style: "margin-top: 20px;"} 好店推荐
    - @shops.each do |shop|
      %a{href: "/jdshop/#{shop["shop_id"]}/"}
        %p #{shop["shop_name"]}
    %h3{style: "margin-top: 20px;"} 京东精选
    - @cores.each do |core|
      %a{href: "/core_2_#{core["id"]}/"}
        %p 京东#{core["keyword"]}

= render partial: "/coupon/footer"
