.hori-cate-area
  .cate-l-1
    .wrapper
      %a{href: "/collection/#{@collection_type}/", class: "#{'active' if @cid == 0}"} 精选
      - @cates.each do |cate|
        - is_active = cate['cid'].to_i == @cid ? 'active' : ''
        %a{href: "/collection/#{@collection_type}/?cid=#{cate['cid']}", class: "#{is_active}"} #{cate['name']}
