- coupon = @detail
- buy_url = @detail["coupon"]["coupon_url"] == '' ? "/jd/buy/#{@detail["sku"]}/" : "/jd/buy/#{@detail["sku"]}/?coupon=#{URI.encode_www_form_component(@detail["coupon"]["coupon_url"])}"
- c_url = @detail["coupon"]["coupon_url"] == '' ? "/jd/buy_url/#{@detail["sku"]}/" : "/jd/buy_url/#{@detail["sku"]}/?coupon=#{URI.encode_www_form_component(@detail["coupon"]["coupon_url"])}"

#coupon.zk-content
  .img-area
    %a{href: "#{buy_url}", title: "#{coupon['title']}", target: "_blank", onclick: "_hmt.push(['_trackEvent', '领券购买', 'click', '京东详情页'])"}
      %img#cover_image{src: "#{coupon['pics'][0]}", alt: "#{coupon['title']}"}
  .info-area
    .title
      %h1
        #{coupon['title'].split.join}
    %p.recommend
      - coupon["recommends"].each do |re|
        #{@ks2.inject(re){|r, x| r.gsub(x, "<b>#{x}</b>")}.html_safe}
        %br
    %input{id: "endTime", value: "", type: "hidden"}
    .small-img-area
      - coupon["pics"][0,6].each_with_index do |img_url, index|
        %img.small_img{src: "#{img_url}", style:"#{'margin-left:0' if index == 0}"}
    .banner
      %img{src: "/img/lbanner1.png"}
      %p{style: "text-align:center;color:#ff2b22;line-height:25px;"} 关注"UU好店"公众号
      %p{style: "text-align:center;color:#ff2b22;line-height:25px;"} 查券-淘宝/京东/拼多多
    .platform
      %span 京东 - 
      - if coupon["shop_id"].to_i > 0
        %a{href: "/jshop_#{coupon["shop_id"]}.html"}
          %span #{coupon["shop_title"]}
      - else
        %span #{coupon["shop_title"]}
    .stat
      %p.price-area
        %span.price
          #{coupon["price_info"]}
      .buy-area
        - if coupon["coupon"]["coupon_amount"] > 0
          %p#eventTimeStr.desc 有效期
        - else
          %p.desc 扫描上方二维码，天天享优惠！
        %a{href: "#{buy_url}", target: "_blank", class: "buy-btn", onclick: "_hmt.push(['_trackEvent', '领券购买', 'click', '京东详情页'])"}
          .line.line-l
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          .line.line-r
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          - if coupon["coupon"]['coupon_amount'] == 0
            去京东购买
          - else
            领券立减
            %em #{coupon["coupon"]['coupon_amount']}
            元
        #qrcode_cv{style: "width: 219px;height: 200px;margin: 0;background-color:#fff;display:none;"}
          #qrcode_in{style: "width: 160px;height: 160px;margin: 20px auto 10px;"}
          %p{style: "text-align:center;color:#787878;font-size:14px;"} 手机京东扫啊扫 直接#{coupon["coupon"]['coupon_amount'].to_i == 0 ? '购买' : '领券'}

:javascript
  var canvas_callback = function(data){
    if(data.status == 1){
      var cv = $("#qrcode_in");
      cv.qrcode({
        render: "canvas",
        height: 160,
        width: 160,
        text: data.url
      });
    }
  }
  $(".small_img").hover(function(){
    $("#cover_image").attr("src", $(this).attr("src"));  
  })
  $(".buy-btn").hover(function(){
    var cv = $("#qrcode_cv");
    cv.show();
    if($("#qrcode_in").html() == ""){
      $.ajax({
        url: "#{c_url}",
        type: 'GET',
        dataType: 'jsonp',
        data:{
          'callback': 'canvas_callback'
        },
        success:function(data){
        }
      });
    }
  },
  function(){
    var cv = $("#qrcode_cv");
    cv.hide();
  });
  var timeArea = $('#eventTimeStr');
  var endTime = $('#endTime').val()*1;
  setInterval(dateCountDown,1000);
  function dateCountDown(){
    var now = Math.floor(new Date().getTime()/1000)*1;
    if(now > endTime){
      timeArea.html('折扣商品限量抢购中！');
    }else{
      var gap = endTime - now;
      var dd = Math.floor(gap/(60*60*24));
      var hh = Math.floor((gap-dd*60*60*24)/(60*60));
      var mm = Math.floor((gap-dd*60*60*24-hh*60*60)/60);
      var ss = gap-dd*60*60*24-hh*60*60-mm*60;
      var timeStr = '优惠券即将失效:&nbsp;'
        +(dd>0?'<em>'+dd+'</em>天':'')
        +(hh>0?'<em>'+hh+'</em>时':'')
        +(mm>0?'<em>'+mm+'</em>分':'')
        +(ss>=0?'<em>'+ss+'</em>秒':'');
      timeArea.html(timeStr);
    }
  }
