.zk-item
  %a{href: "/yh/#{item["itemId"]}/?coupon_money=#{item["couponMoney"]}"}
    .img-area
      .bottom-info
        %p.time-count
      %img{src: "#{item["coverImage"]}"}
    %p.title-area.elli
      %i.i_tmall
      %span.post-free 包邮
      #{item["shortTitle"]}
    .raw-price-area
      现价：¥#{item["price"]}
      .sold 已领#{item["monthSales"]}张券
    .info
      .price-area
        %span.price
          ¥
          %em.number-font #{item["nowPrice"]}
          %em.decimal .00
          %i
      .coupon_click 券 #{item["couponMoney"]} 元
