<div class="more-coupon">
  <span id="moreCoupon" class="btn loading-text">查看更多优惠券</span>
</div>
<script type="text/javascript">
var globalChannel = 27;
var couponList = $('#couponList'),loadingText = $('.loading-text');
var page = 1,pagesize = <%= pagesize %>,load = 1,channel = 27,sort = <%= sort_type || 7%>;
var path = '<%= path %>';
function getTaobaoCouponFluid(){
  if(!load){
    return;
  }
  $.ajax({
    url: path,
    type: 'GET',
    dataType: 'jsonp',
    data:{
      'pinyin': '<%= pinyin || '' %>',
      'keyword': '<%= keyword || ''%>',
      'cid': '<%= cid || 0%>',
      'sort': sort,
      'price': '<%= keyword || ''%>',
      'type': '<%= type || 0%>',
      'page':page,
      'pagesize':pagesize,
      'callback': 'callback'
    },
    beforeSend:function(){
      load = 0;
      loadingText.html('努力加载中...');
    },
    success:function(data){
    }
  });
}
var callback = function(data){
  if(data.status == 1){
    Util.createTaobaoCouponFluid(data.results,couponList,channel,page);
    if(data.results.length >= pagesize){
      page ++;
      load = 1;
      loadingText.html('查看更多优惠券');
    }else{
      loadingText.html('没有更多了');
    }
  }
};
$(function(){

  getTaobaoCouponFluid();

  $(document).on('scroll',function(){
    if(page%4 > 0){
      var _top = $(document).scrollTop(),
        scroll_height = Util.pageSize()['scrollHeight'],
        client_height = Util.pageSize()['clientHeight'];
        if(_top + client_height >= (scroll_height-800)){
          getTaobaoCouponFluid();
        }
    }
  });

  loadingText.on('click',function(){
    getTaobaoCouponFluid();
  });

});
</script>
