.wide-banner.swiper-container.swiper-container-horizontal
  .swiper-wrapper
    - (0..(((items.size * 1.0 - 1) / 6).floor)).to_a.each do |num|
      .swiper-slide
        - items[num * 6,6].each_with_index do |item, index|
          %a{href: "/yh/#{item["goodsId"]}/#coupon", onclick: "ga_event(this);", data:{ga: "wide_banner:wide_banner:wide_banner"}}
            .item{style: "#{'margin-left:90px' if index == 0}"}
              %img{src: "#{item["mainPic"]}", alt: "#{item["dtitle"]}领取优惠券_图片"}
              %p.title #{item["dtitle"]}
              %p.price #{item["couponPrice"]}元券 —— ￥#{item["actualPrice"]}
              - if num == 0 && index < 3
                %span.bang-order #{index + 1}
  .swiper-button-prev
  .swiper-button-next
