- title("#{@category_name},#{@category_name}折扣,#{@category_name}优惠_优优好店")
- keywords("#{@category_name},#{@category_name}折扣,#{@category_name}优惠")
- head_desc("优优好店 - 分类 - #{@category_name}")
- path("/category/#{@cid}/")
- mobile_url("https://www.uuhaodian.com/category/#{@cid}/")
- mp = ""

= render partial: "header_common"
= render partial: "header_lanlan_fenlei", locals: {categories: @lanlan_cates}
.wrapper1200
  = render partial: "lanlan_quan_filter"
  .zk-list.clearfix#couponList
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 7, pinyin: '', keyword: '', cid: @cid,sort: 7, type: 0}

- if @items_bang && @items_bang.size > 0
  .wrapper1200
    .item-list-top
      %span.left 优优好店畅销榜 - 大家都在买
      %a{href: "/collection/2/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_bang}

= render partial: "footer", locals: {mobile_path: mp}
= render partial: "sider_fixed_area"
