- title("#{@collection_name}_优优好店")
- keywords("#{@collection_name}")
- head_desc("优优好店 - #{@collection_name}")

= render partial: "header_common"
= render partial: "header_lanlan_fenlei_collection"
.wrapper{style: "margin-top: 10px;"}
  .zk-list.clearfix#couponList
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 7, pinyin: '', keyword: '', cid: @cid,sort: 7, type: @collection_type, from_iquan: @from_iquan}

= render partial: "footer"
= render partial: "sider_fixed_area"
