- title("搜券_找券_优惠券搜索_优优好店")
- keywords("搜券,找券,优惠券搜索")
- head_desc("优优好店 - 搜券找券优惠券，享折上折！")
- path("/dz_search/")
- mobile_url("http://www.uuhaodian.com/dz_search/")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      %a{href: "javascript:history.go(-1);"}
        .back
          %img{src: "/img/back.png"}
      %input#input_k{placeholder: "输入关键词或粘贴宝贝标题"}
  .search-cat{style: "width: 100%;max-width: 750px;"}
    .title 
      %p 热门搜索
    .search-cent
      - @keywords.each do |k|
        .sitem
          %a.zh{href: "/dr/#{URI.encode_www_form_component(k)}/", onclick:"_hmt.push(['_trackEvent', '热门搜索点击', 'click', 'dazhe'])"} #{k}
      - @topics.each do |t|
        .sitem
          %a.zh{href: "#{t[:url]}", onclick:"_hmt.push(['_trackEvent', '专题点击', 'click', 'dazhe'])"} #{t[:k]}

    .clearfix
    .title 
      %p 商品分类
    .search-cent
      - @cats.each do |c|
        .sitem
          %a.zh{href: "http://m.uuhaodian.com/index.php?r=index/cat&cid=#{c[:id]}", onclick:"_hmt.push(['_trackEvent', '商品分类点击', 'click', 'dazhe'])"} #{c[:k]}

  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    %a#more_btn.btn.zh{href: "https://18a04.kuaizhan.com/?id=B8GCbIGGR", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP获取更多优惠

= render partial: "sem_js"
:javascript
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});
  $("#input_k").focus();
  $("#input_k").on('keyup', function(e){
    var keycode = e.keyCode,
    q = $(this).val().trim();
    if(keycode == 13 && q != ''){
      window._agl && window._agl.push(['track', ['success', {t: 3}]])
      _hmt.push(['_trackEvent', '搜索', 'click', 'dazhe']);
      window.location.href = '/dr/' + encodeURIComponent(q) + '/';
    }
  });
