- title("京东#{@keyword}_#{@keyword}京东优惠券_#{@keyword}京东价格")
- keywords("京东#{@keyword},#{@keyword}京东,#{@keyword}京东优惠券,#{@keyword}京东价格,#{@keyword}京券,#{@keyword}东券")
- head_desc("优优好店 - 提供#{@keyword}京东商品价格查询，#{@keyword}京券东券，#{@keyword}京东优惠免费领取，搜索#{@keyword}京东商品标题，即可精确找券，先领券再下单，在京东购物更便宜！")
- path("/core_2_#{@id}/")
- mobile_url("http://www.uuhaodian.com/core_2_#{@id}/")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe'])"}
          %p #{@keyword}
  .header
    %h1
      超过99.9%用户不知道的秘诀
      %span.b 折上折
      买
      %span.b #{@keyword}！
    %p.desc 
      1. 微信扫码关注“
      %span.b UU好店
      ”小程序已经支持淘宝、京东、拼多多优惠券领取
      %br
      %br
      2. 点击上方搜索框，输入商品宝贝标题，领取优惠券
      %br
      %br
      3. 下单使用优惠券，立享折上折！
      %br
      &nbsp;&nbsp;&nbsp;
      %span{style: "line-height: 30px;"}
        %a{id: "ercode_show", href: "javascript:;", style: "color: #FBAA58;", onclick:"_hmt.push(['_trackEvent', '展开二维码', 'click', 'dazhe'])"} 点击展开二维码
    %img.sno{id: "ercode", src: "http://www.uuhaodian.com/img/lbanner1.png"}
  .content
    .filter
      .type.active{id: "t1", data: {sort: 1}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-综合', 'click', 'dazhe'])"} 综合
      .type{data: {sort: 2}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-销量', 'click', 'dazhe'])"} 销量
      .type{data: {sort: 5}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-推荐', 'click', 'dazhe'])"} 推荐
      .type{data: {sort: 3}}
        %a{id: "t3", href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-价格', 'click', 'dazhe'])"} 价格
    .platform-filter
      %div{style: "float:left;padding:5px 0 5px 20px;height:30px;", onclick: "_hmt.push(['_trackEvent', '筛选-券', 'click', 'dazhe'])"}
        %input.switch{type: "checkbox", style: "font-size: 20px;"}
      %div{style: "float:left;padding-left:10px;"} 只看券
      %div{style: "float:right;"}
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-拼多多', 'click', 'dazhe'])"}
          %input{id: "radio_3", name: "platform", type: "radio", value: "3"}
          %label.radio-label{for: "radio_3"} &nbsp;拼多多
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-京东', 'click', 'dazhe'])"}
          %input{id: "radio_2", name: "platform", type: "radio", value: "2"}
          %label.radio-label{for: "radio_2"} &nbsp;京东
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-淘宝', 'click', 'dazhe'])"}
          %input{id: "radio_1", name: "platform", type: "radio", value: "1"}
          %label.radio-label{for: "radio_1"} &nbsp;淘宝
    #dazheList
    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    %a#more_btn.btn.zh{href: "https://13ifsgnd.kuaizhan.com/#/app/down?appId=550416&productType=1&userId=0", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_js"
