- title("京东优惠券领取_京券东券商品券领券查找_优优好店")
- keywords("京东优惠券,京东优惠券,京东领券,京东优惠券领取,京券,东券")
- head_desc("优优好店 - 现在已经支持查询与领取京东优惠券啦，搜索商品标题，即可精确找券，先领券再下单，在京东购物更便宜！")
- path("/jd/")
- mobile_url("https://www.uuhaodian.com/jd/")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe_jd'])"}
          %p 输入京东宝贝标题或链接，可精准搜券
  .header
    %h1
      超过99.9%用户不知道的
      %span.b 京东领券秘诀
      ！
    %p.desc 
      1. 微信扫码关注“
      %span.b UU好店
      ” 已经支持京东、淘宝、拼多多优惠券领取
      %br
      %br
      2. 点击上方搜索框，输入京东宝贝标题或链接，可领取优惠券
      %br
      %br
      3. 下单使用优惠券，立享折上折！
      %br
      &nbsp;&nbsp;&nbsp;
      %span{style: "line-height: 30px;"}
        %a{id: "ercode_show", href: "javascript:;", style: "color: #FBAA58;", onclick:"_hmt.push(['_trackEvent', '展开二维码', 'click', 'dazhe_jd'])"} 点击展开二维码
    %img.sno{id: "ercode", src: "http://www.uuhaodian.com/img/lbanner1.png"}
  .top-menu-container{style: "max-width:750px;"}
    .top-menu{style: "max-width:750px;"}
      .inner
        %a.top-menu-item{href: "#", class: "active"} #{@jd_item["name"]}
        - @jd_home_items.each do |item|
          - if item["id"] != @jd_item_id
            %a.top-menu-item{href: "/jd/?id=#{item["id"]}"} #{item["name"]}
  .content
    %a{href: "/jddiybuy/?jd_channel=16&url=#{URI.encode_www_form_component("https://coupon.m.jd.com/center/getCouponCenter.action")}", target: "_blank"}
      %div{style: "font-size:14px;font-weight:bold;text-align:center;border-bottom:5px solid #f7f7f7;line-height:40px;"} 点击前往京东领券中心
    #jdDazheList
    #dazheList

    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了
  = render partial: "jd_mobile_footer_diy", locals: {url: "/jddiybuy/?jd_channel=16&url=#{URI.encode_www_form_component("https://coupon.m.jd.com/center/getCouponCenter.action")}", text: "前往京东领券中心"}
  
.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_jd_js"
