- title("京东#{@keyword}_#{@keyword}京东优惠券_#{@keyword}京东价格")
- keywords("京东#{@keyword},#{@keyword}京东,#{@keyword}京东优惠券,#{@keyword}京东价格,#{@keyword}京券,#{@keyword}东券")
- head_desc("优优好店 - 提供#{@keyword}京东商品价格查询，#{@keyword}京券东券，#{@keyword}京东优惠免费领取，搜索#{@keyword}京东商品标题，即可精确找券，先领券再下单，在京东购物更便宜！")
- path("/core_2_#{@id}/")
- mobile_url("http://wap.uuhaodian.com/core_2_#{@id}/")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe'])"}
          %p #{@keyword}
  %h1.sno #{@keyword}-优优好店
  = render partial: "dazhe_gongzhonghao_guide"
  .content
    = render partial: "dazhe_filter"
    #dazheList
    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
    %p{style: "text-align:center;padding:10px;"} #{@keyword}京东优惠券查询结果-更新于#{Time.now.to_s[0,10]}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    %a#more_btn.btn.zh{href: "https://api.uuhaodian.com/uu/xiaohui_app", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_js"
