- title("【#{@shop_name}】#{@shop_name}首页/活动/优惠券")
- keywords("#{@shop_name},#{@shop_name}首页,#{@shop_name}活动,#{@shop_name}优惠券")
- shop_desc = "#{@shop_name}是一家在#{@shop_type == 1 ? "天猫" : "淘宝"}平台正在经营的网店，主营：#{@cnames.split(',').join('、')}等商品，#{"主营品牌：#{@brand}，" if @brand != ''}销售的商品有质量保证，请大家放心。点击链接，即可直达#{@shop_name}首页。#{@shop_name}今日正在发放优惠券，点击即可领取，优优好店每日更新#{@shop_name}优惠券信息、促销活动，助力大家网购更实惠！"
- head_desc(shop_desc)
- path("/tshop_#{@shop_id}.html")
- mobile_url("http://wap.uuhaodian.com/tshop_#{@shop_id}.html")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe'])"}
          %p #{@shop_name}
  = render partial: "dazhe_gongzhonghao_guide"
  .content
    = render partial: "dazhe_filter"
    #dazheList
      - @pd1.each do |r|
        .item
          %a{href: "/dtk/#{r["id"]}/", title: "#{r["dtitle"]}"}
            %img.pic{src: "#{r["mainPic"]}", alt: "#{r["dtitle"]}"}
            .cent
              %h3
                %span #{@shop_type == 1 ? "天猫" : "淘宝"}
                #{r["dtitle"]}
              .tags
                %span.tag 热卖单品
              .num
                %span 原价 ￥#{r["originalPrice"]}
                %span.r 已售#{r["monthSales"]}件
              .money
                .quan
                  %i #{r["couponPrice"]}元券
                到手价 ￥
                %span.m #{r["actualPrice"]}
    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了

  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    %a#more_btn.btn.zh{href: "https://api.uuhaodian.com/uu/xiaohui_app", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_js"
