- title("#{@keyword}_优优好店")
- keywords("#{@keyword},#{@keyword}优优好店")
- head_desc("优优好店 - #{@keyword}！")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe'])"}
          %p #{@keyword}
  .content
    .filter
      .type.active{data: {sort: 1}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-综合', 'click', 'dazhe'])"} 综合
      .type{data: {sort: 2}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-销量', 'click', 'dazhe'])"} 销量
      .type{data: {sort: 5}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-推荐', 'click', 'dazhe'])"} 推荐
      .type{data: {sort: 3}}
        %a{id: "t3", href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-价格', 'click', 'dazhe'])"} 价格
    .platform-filter
      %div{style: "float:left;padding:5px 0 5px 20px;height:30px;"}
        %input.switch{type: "checkbox", style: "font-size: 20px;"}
      %div{style: "float:left;padding-left:10px;"} 只看券
      %div{style: "float:right;"}
        .radio{style: "float:right;"}
          %input{id: "radio_3", name: "platform", type: "radio", checked: "true", value: "3"}
          %label.radio-label{for: "radio_3"} &nbsp;拼多多
        .radio{style: "float:right;"}
          %input{id: "radio_2", name: "platform", type: "radio", checked: "true", value: "2"}
          %label.radio-label{for: "radio_2"} &nbsp;京东
        .radio{style: "float:right;"}
          %input{id: "radio_1", name: "platform", type: "radio", checked: "true", value: "1"}
          %label.radio-label{for: "radio_1"} &nbsp;淘宝
    #dazheList
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    - if @device == "ios"
      %a#more_btn.btn.zh{href: "http://download1.51cyin.cn/index.php?r=index/ios-down&app_id=550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-ios', 'click', 'dazhe'])"} 下载APP获取更多优惠
    - else
      %a#more_btn.btn.zh{href: "http://download1.51cyin.cn/index.php?r=index/down&app_id=550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-android', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_js"
