- title("#{@keyword}优惠券_#{@keyword}天猫淘宝京东拼多多优惠券_优优好店")
- keywords("#{@keyword},#{@keyword}优惠券,#{@keyword}淘宝优惠券,#{@keyword}天猫优惠券,#{@keyword}京东优惠券,#{@keyword}拼多多优惠券")
- head_desc("优优好店-#{@keyword}商品优惠券搜索结果。您可以在优优好店查找并免费领取#{@keyword}淘宝天猫、京东、拼多多优惠券，并可以按照商品的销量、价格等维度进行筛选，领券后在淘宝、京东、拼多多平台使用并购买商品，即可享受优惠与折扣！")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe'])"}
          %p #{@keyword}
  .header
    %h1
      超过99.9%用户不知道的秘诀
      %span.b 折上折
      买
      %span.b #{@keyword}！
    %p.desc 
      1. 微信扫码关注“
      %span.b UU好店
      ”小程序已经支持淘宝、京东、拼多多优惠券领取
      %br
      %br
      2. 点击上方搜索框，输入淘宝宝贝标题，领取优惠券
      %br
      %br
      3. 下单使用优惠券，立享折上折！
      %br
      &nbsp;&nbsp;&nbsp;
      %span{style: "line-height: 30px;"}
        %a{id: "ercode_show", href: "javascript:;", style: "color: #FBAA58;", onclick:"_hmt.push(['_trackEvent', '展开二维码', 'click', 'dazhe'])"} 点击展开二维码
    %img.sno{id: "ercode", src: "http://www.uuhaodian.com/img/lbanner1.png"}
  .content
    .filter
      .type.active{id: "t1", data: {sort: 1}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-综合', 'click', 'dazhe'])"} 综合
      .type{data: {sort: 2}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-销量', 'click', 'dazhe'])"} 销量
      .type{data: {sort: 5}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-推荐', 'click', 'dazhe'])"} 推荐
      .type{data: {sort: 3}}
        %a{id: "t3", href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-价格', 'click', 'dazhe'])"} 价格
    .platform-filter
      %div{style: "float:left;padding:5px 0 5px 20px;height:30px;"}
        %input.switch{type: "checkbox", style: "font-size: 20px;"}
      %div{style: "float:left;padding-left:10px;"} 只看券
      %div{style: "float:right;"}
        .radio{style: "float:right;"}
          %input{id: "radio_3", name: "platform", type: "radio", checked: "true", value: "3"}
          %label.radio-label{for: "radio_3"} &nbsp;拼多多
        .radio{style: "float:right;"}
          %input{id: "radio_2", name: "platform", type: "radio", checked: "true", value: "2"}
          %label.radio-label{for: "radio_2"} &nbsp;京东
        .radio{style: "float:right;"}
          %input{id: "radio_1", name: "platform", type: "radio", checked: "true", value: "1"}
          %label.radio-label{for: "radio_1"} &nbsp;淘宝
    #dazheList
    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    - if @device == "ios"
      %a#more_btn.btn.zh{href: "http://download1.51cyin.cn/index.php?r=index/ios-down&app_id=550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-ios', 'click', 'dazhe'])"} 下载APP获取更多优惠
    - else
      %a#more_btn.btn.zh{href: "http://download1.51cyin.cn/index.php?r=index/down&app_id=550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-android', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


= render partial: "sem_js"
:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])});

= render partial: "dazhe_js"
