- title("#{@detail["shortTitle"]}_优优好店")
- keywords("#{@detail["shortTitle"]},#{@detail["title"]}")
- head_desc("优优好店 - 商品详情 - #{@detail["shortTitle"]}")
- path("/ddk/#{@detail["itemId"]}/")
- mobile_url("https://www.uuhaodian.com/ddk/#{@detail["itemId"]}/")
- mp = ""

= render partial: "header_common"
.wrapper1200{style: "overflow:visible;z-index:98;"}
  = render partial: "ddk_quan_detail_content"
%aside.wrapper1200
  .rel-zk-area
    %p.head
      %span #{@detail["sellerName"]} - 同店商品推荐
  .zk-list.clearfix#ddktongdian{style: "min-height: 0;"}
  = render partial: "ddk_tongdian", locals: {seller_id: @detail["sellerId"]}
  .rel-zk-area
    %p.head
      %span 更多推荐
  .zk-list.clearfix#couponList
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 7, pinyin: '', keyword: @detail["category"], cid: 0,sort: 7, type: 0}

= render partial: "footer", locals: {mobile_path: mp}
= render partial: "sider_fixed_area"
