- title("【#{@shop['title']}】#{@shop['title']}优惠券/首页/评价/怎么样_优优好店")
- head_desc("#{@shop['title']} - 优优好店推荐")
- keywords("#{@shop['title']},#{@shop['title']}首页,#{@shop['title']}优惠券,#{@shop['title']}折扣,#{@shop['title']}怎么样,#{@shop['title']}评价")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dian'])"}
          %p 输入您需要的商品名称
  %a.goShop{href: "javascript:;", target: "_blank", onclick: "_hmt.push(['_trackEvent', '店铺点击', 'click', 'dian'])"}
    .shop
      .jbtn
        %span{style: "font-size: 18px;padding: 5px 10px;color:#fff;border-radius:5px;font-weight:bold;background: linear-gradient(to left,#FF5E5E 0,#FF927C 100%);"} 进店看看
      .avatar
        %img{src: "#{@shop['pic_url']}"}
      .info
        %p.title #{@shop['title']}
        %p.desc #{@shop['place']}
        %p.desc 主营：#{@shop['type']}
        %p.desc 评价：优
  .header
    %h1
      超过99.9%用户不知道的
      %span.b 领券省钱秘诀
    %p.desc 
      1. 微信扫码关注“ 
      %span.b UU好店
      ”小程序已经支持
      %span.b 淘宝、京东、拼多多
      优惠券领取
      %br
      %br
      2. 点击上方搜索框，输入商品宝贝标题，领取优惠券
      %br
      %br
      3. 下单使用优惠券，立享折上折！
      %br
      %br
      4. 以下是
      %span.b #{@shop["title"]}
      相关#{@keyword}商品推荐
      %br
      &nbsp;&nbsp;&nbsp;
      %span{style: "line-height: 30px;"}
        %a{id: "ercode_show", href: "javascript:;", style: "color: #FBAA58;", onclick:"_hmt.push(['_trackEvent', '展开二维码', 'click', 'dian'])"} 点击展开二维码
    %img.sno{id: "ercode", src: "http://www.uuhaodian.com/img/lbanner1.png"}
  .content
    .filter
      .type.active{id: "t1", data: {sort: 1}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-综合', 'click', 'dian'])"} 综合
      .type{data: {sort: 2}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-销量', 'click', 'dian'])"} 销量
      .type{data: {sort: 5}}
        %a{href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-推荐', 'click', 'dian'])"} 推荐
      .type{data: {sort: 3}}
        %a{id: "t3", href: "javascript:;", onclick:"_hmt.push(['_trackEvent', '筛选-价格', 'click', 'dian'])"} 价格
    .platform-filter
      %div{style: "float:left;padding:5px 0 5px 20px;height:30px;", onclick: "_hmt.push(['_trackEvent', '筛选-券', 'click', 'dian'])"}
        %input.switch{type: "checkbox", style: "font-size: 20px;"}
      %div{style: "float:left;padding-left:10px;"} 只看券
      %div{style: "float:right;"}
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-拼多多', 'click', 'dian'])"}
          %input{id: "radio_3", name: "platform", type: "radio", value: "3"}
          %label.radio-label{for: "radio_3"} &nbsp;拼多多
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-京东', 'click', 'dian'])"}
          %input{id: "radio_2", name: "platform", type: "radio", value: "2"}
          %label.radio-label{for: "radio_2"} &nbsp;京东
        .radio{style: "float:right;", onclick: "_hmt.push(['_trackEvent', '筛选-平台-淘宝', 'click', 'dian'])"}
          %input{id: "radio_1", name: "platform", type: "radio", value: "1"}
          %label.radio-label{for: "radio_1"} &nbsp;淘宝
    #dazheList
    %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}
  .button-btn.sno#loadRetry 重新加载
  .button-btn.sno#noMore 没有更多了
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dian", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dian'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    - if @device == "ios"
      %a#more_btn.btn.zh{href: "http://apphtml.ffquan.com/index.php?r=index/ios-down&app_id=550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-ios', 'click', 'dian'])"} 下载APP获取更多优惠
    - else
      %a#more_btn.btn.zh{href: "https://a.app.qq.com/o/simple.jsp?pkgname=com.dataoke.shoppingguide.app550416", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app-android', 'click', 'dian'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}

:javascript
  $(".goShop").click(function(){var sgo = 'uu';window.open("https://api.uuhaodian.com/uu/shop_go?shop_id=#{@shop_id}&sgo=" + sgo, "_blank")});
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});

= render partial: "dazhe_js"
