- title("#{@keyword}_#{@keyword}优惠券/价格/比价_优优好店")
- keywords("#{@keyword},#{@keyword}优惠券,#{@keyword}价格,#{@keyword}多少钱,#{@keyword}比价")
- head_desc("优优好店-#{@keyword}商品优惠券搜索结果。您可以在优优好店查找并免费领取#{@keyword}淘宝天猫、京东、拼多多优惠券，并可以按照商品的销量、价格等维度进行筛选，领券后在淘宝、京东、拼多多平台使用并购买商品，即可享受优惠与折扣！")
- path("/query/#{URI.encode_www_form_component(@keyword)}/")
- mobile_url("http://wap.uuhaodian.com/dz/#{URI.encode_www_form_component(@keyword)}/")
- mp = ""

%header.header#header
  = render partial: "header_bar"

.wrapper1200{style: "margin-top:10px;"}
  %div{style: "height: 80px;"}
    #gy_filter
      .wrapper1200
        %ul.platform-area{style: "margin:0;"}
          %li.platform-type{id: "platform_1", data:{type: 1}} 天猫淘宝
          %li.platform-type{id: "platform_2", data:{type: 2}} 京东
          %h1{style: "float:right;padding: 0 20px;font-size:14px;"} “#{@keyword[0,40]}”搜索结果
        = render partial: "dg_filter", locals: {has_coupon: false}
  .zk-list.clearfix#couponList
  = render partial: "dg_load_more", locals: {keyword: @keyword, has_coupon: 0}

%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a 友链申请 请联系QQ: 174786080
          %br
          %a{href: "/about.html", rel: "nofollow"} 关于我们
      .logo-slogan
        .qr-code
          %img.lazy.new{data: {original: "/img/uuhaodian_logo_90.png"}}
        .txt
          %p.s1 微信公众号小程序
          %p.s2 现已支持淘宝京东拼多多
  .footer-bottom
    .wrapper
      %p 
        © CopyRight 2021 优优好店  http://www.uuhaodian.com  
        %a{href: "https://beian.miit.gov.cn", target: "_blank", style:"color:#ff6a00;", rel: "nofollow"}京ICP备18009981号-1 
        %a{href: "/about.html", rel: "nofollow"}关于我们
        ：北京弗格朗瑞科技有限公司 联系我们：010-86202725
