- title("优优好店-天猫淘宝京东拼多多优惠券,一键查询,免费领取!")
- keywords("优优好店,uuhaodian,淘宝优惠券,天猫优惠券,京东优惠券,拼多多优惠券,淘宝领券,京东领券,拼多多领券")
- head_desc("优优好店-现已支持天猫淘宝优惠券、京东优惠券、拼多多优惠券的查询与领取，先领券再下单，省钱又实惠！一键查券，免费领取，便捷实用的省钱工具-优优好店。")

= render partial: "header_common"
= render partial: "header_adzone"
- if @items_9kuai9 && @items_9kuai9.size > 0
  .wrapper
    .item-list-top
      %span.left 9块9包邮
      %a{href: "/collection/4/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_9kuai9}

.wrapper
  = render partial: "header_lanlan_fenlei"
  .order-area{style: "margin-top: 20px;"}
    %ul.sort-type
      %li{id: "li-sort-1", data: {sort: "1"}, class: "sort_li active"} 上新
      %li{id: "li-sort-7", data: {sort: "7"}, class: "sort_li"} 综合
      %li{id: "li-sort-4", data: {sort: "4"}, class: "sort_li"} 销量
      %li{id: "li-sort-3", data: {sort: "3"}, class: "sort_li"} 价格
  .zk-list.clearfix#couponList
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 1, pinyin: '', keyword: "#{@keyword}", cid: 0,sort: 1, type: 0}
- if @items_bang && @items_bang.size > 0
  .wrapper
    .item-list-top
      %span.left 优优好店畅销榜 - 大家都在买
      %a{href: "/collection/2/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_bang}

= render partial: "home_footer"
= render partial: "sider_fixed_area"
