- title("优优好店-京东优惠券,京东优惠券免费领取平台,大额东券jd券查询助手")
- keywords("优优好店,京东优惠券,京东券,jd券,jd优惠券,东券,京券,京东优惠券领取,京东优惠券领取平台,大额京东优惠券,京东优惠券查询助手")
- head_desc("优优好店——京东优惠券免费领取平台，在这里可以免费查询和领取京东优惠券，包含京券、东券、京享礼金、大额券、jd券、自营券、手机券、图书券等等。还在找哪里领取京东优惠券？快来优优好店！关于如何领取京东优惠券，本站也有详细的说明，关注优优好店公众号还有更多惊喜等着你！")
- path("")
- mobile_url("http://wap.uuhaodian.com")

= render partial: "header_common"
= render partial: "header_adzone"
- if @items_9kuai9 && @items_9kuai9.size > 0
  .wrapper1200
    .item-list-top
      %span.left 9块9包邮
      %a{href: "/collection/4/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_9kuai9}

.wrapper1200
  %h1.sno 京东优惠券
  .item-list-top
    %span.left 京东优惠券 - 今日上新
    %a{href: "/jd/"}
      %span.right 查看更多
.wrapper{style: "margin: 10px auto;"}
  .jd-coupon-list.clearfix
    - @jd_coupons.each do |c|
      %a{href: "#{c["url"]}", target: "_blank", title: "#{c["shop"]}优惠券"}
        .jd-coupon
          .img
            %img{src: "#{c["pict_url"]}", alt: "#{c["shop"]}优惠券领取"}
          .c-content
            .price-area
              %span.s1 ￥
              %span.s2 #{c["discount"]}
              %span.s3 满#{c["quota"]}元可用
            .c-desc
              %p.b #{c["shop"]}
              %img{src: "/img/jd_logo.png", alt: "京东logo"}
          .lingquan 立即领券


.wrapper1200
  = render partial: "header_lanlan_fenlei"
  .order-area{style: "margin-top: 20px;"}
    %ul.sort-type
      %li{id: "li-sort-1", data: {sort: "1"}, class: "sort_li active"} 上新
      %li{id: "li-sort-7", data: {sort: "7"}, class: "sort_li"} 综合
      %li{id: "li-sort-4", data: {sort: "4"}, class: "sort_li"} 销量
      %li{id: "li-sort-3", data: {sort: "3"}, class: "sort_li"} 价格
  .zk-list.clearfix#couponList
    - @dtks.each do |dtk|
      .zk-item
        %a{href: "#{dtk["url"]}", title: "#{dtk["title"]}#{dtk["coupon"]}元优惠券"}
          .img-area
            %img{src: "#{dtk["pict_url"]}", alt: "#{dtk["title"]}#{dtk["coupon"]}元优惠券图片"}
          %p.title-area #{dtk["title"]}
          .tags-area
            - dtk["tags"].each do |tag|
              %span.tag #{tag}
            %span.tag.c #{dtk["coupon"]}元券
          .price-area
            到手价 ￥
            %span.price #{dtk["price"]}
          .raw-price-area
            原价 ￥#{dtk["o_price"]}
            %p.sold #{dtk["sales"]}已付款

  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 1, pinyin: '', keyword: "#{@keyword}", cid: 0,sort: 1, type: 0}

.wrapper1200
  .item-list-top{style: "margin-top: 10px;padding-left:0;z-index:1;"}
    %span.left{style: "padding-left:15px;"} 发现好货
    = render partial: "wide_banner_jd_static", locals: {items: @items_jd_static}

.wrapper1200
  .rel-zk-area
    %p.head
      %span 京东品类优惠券
  .link-area
    - @cores.each do |core|
      %a{href: "#{core["url"]}", title: "京东#{core["k"]}优惠券"} 京东#{core["k"]}

.wrapper1200
  .rel-zk-area
    %p.head
      %span 京东店铺优惠券
  .link-area
    - @shops.each do |s|
      %a{href: "#{s["url"]}", title: "#{s["name"]}优惠券"} #{s["name"]}

= render partial: "home_jd_qa"

.wrapper1200.article-container
  %div{style: "width: 900px;"}
    .article-list-container
      %h3{style: "border-bottom: 1px solid #f6f6f6;padding-bottom: 5px;font-size:18px;"} 文章推荐
      - @articles.each do |a|
        .item
          %a{href: "/article/#{a["id"]}.html"}
            %img.lazy.new{data: {original: "#{a["img_url"]}"}, alt: "#{a["title"]}"}
          .info 
            %a{href: "/article/#{a["id"]}.html"}
              %p.title #{a["title"]}
            %p.time 更新于 #{a["updated_at"]}
            %p.tag
              - a["tags"].split(',').each do |tag|
                %span.article-tag 
                  %i #
                  %a{href: "/article/tag_#{URI.encode(tag)}/"} #{tag}
  %aside
    %h3 好店推荐
    - @seo_shops.each do |shop|
      %a{href: "/jdshop/#{shop["shop_id"]}/"}
        %p #{shop["shop_name"]}
    %h3{style: "margin-top: 20px;"} 京东精选
    - @seo_cores.each do |core|
      %a{href: "/core_2_#{core["id"]}/"}
        %p 京东#{core["keyword"]}

= render partial: "home_footer"
= render partial: "sider_fixed_area"
