- title("京东优惠券领取_京券东券商品券领券查找_优优好店")
- keywords("京东优惠券,京东优惠券,京东领券,京东优惠券领取,京券,东券")
- head_desc("优优好店 - 现在已经支持查询与领取京东优惠券啦，搜索商品标题，即可精确找券，先领券再下单，在京东购物更便宜！")

= render partial: "header_common"
= render partial: "jd_banner_1200_1"
%a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGWUdIWdaeWBXfThCUklFDlkbFnkWRAdrVxkyEAZUGlIVAhIBXCtZEAcWAVQeUhIyIgdUKxB7AyIFVBpaHAITAF0SaxUGGwFRHloUAxMDVxJrEgIbNyJoOWF9Z3M2K2slASI3ZRprFTJNQwhGaxcDEwNc", target: "_blank", title: "点击直达京东领券中心", onclick: "_hmt.push(['_trackEvent', '上方描述点击', 'click', 'jd'])"}
  .wrapper1200{style: "margin-top: 10px;"}
    .item-list-top
      %span.left 京东优惠券领取
      %span.left{style: "color:#999;margin-left:10px;font-size:16px;"} 搜索商品标题或链接，可精准找券 - 微信扫一扫右侧二维码，关注公众号"UU好店"，领券更方便！
      %p{style: "color:#666;line-height:30px;"} 领券小帮手：京东的大多数商品都有优惠券，但是这些券不易被找到。本网站，提供了找券功能，搜索京东商品的标题或链接，就能够
      %p{style: "color:#666;line-height:30px;"} 找到优惠券（如果存在），点击领取优惠券后，下单时即可优惠相应金额。 
      %p{style: "color:#666;line-height:30px;"} 本站进一步支持：通过搜索，查看同款商品在淘宝天猫和拼多多的价格，为您的购物决策提供方便。
      %div{style: "height:0;position:relative;top:-138px;float:right;"}
        %img{src: "/img/lbanner1.png", height: "138px", width: "138px"}
.hori-cate-area{style: "margin: 10px auto;width:1200px;"}
  .wrapper1200
    .cate-l-1{style: "padding-left:20px;width:1200px;"}
      - @jd_home_items.each do |item|
        %a{href: "/jd/?id=#{item["id"]}", class: "#{'active' if item["id"] == @jd_item_id}", onclick: "_hmt.push(['_trackEvent', '顶部分类', 'click', 'jd'])"} #{item["name"]}
      %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGWUdIWdaeWBXfThCUklFDlkbFnkWRAdrVxkyEAZUGlIVAhIBXCtZEAcWAVQeUhIyIgdUKxB7AyIFVBpaHAITAF0SaxUGGwFRHloUAxMDVxJrEgIbNyJoOWF9Z3M2K2slASI3ZRprFTJNQwhGaxcDEwNc", target: "_blank", title: "点击直达京东领券中心", onclick: "_hmt.push(['_trackEvent', '分类更多按钮点击', 'click', 'jd'])"} 更多
.wrapper{style: "margin: 10px auto;"}
  .jd-coupon-list.clearfix#jdCouponList
  = render partial: "jd_coupon_load_more", locals: {cid: @cid}

= render partial: "jd_tool"

.wrapper1200
  #jd_home_json_area
  = render partial: "jd_home_shop_load"


= render partial: "jd_tool"
= render partial: "footer"
= render partial: "sider_fixed_area"
= render partial: "jd_tool_right_fixed"
