- title("#{@detail["title"].split.join}_优优好店")
- keywords("#{@detail["title"].split.join},#{@detail["title"].split.join(',')}")
- head_desc("#{@detail["recommends"][0]}-#{@detail["title"]}")
- path("/jdhh/#{@id}/")
- mobile_url("http://wap.uuhaodian.com/jdhh/#{@id}/")
- mp = "http://wap.uuhaodian.com/jdhh/#{@id}/"

= render partial: "header_common"
.wrapper1200{style: "overflow:visible;z-index:98;"}
  = render partial: "jd_static_quan_detail_content"
%aside.wrapper1200
  - if @items.size > 0
    .item-list-top{style: "margin-top: 10px;padding-left:0;z-index:1;"}
      %span.left{style: "padding-left:15px;"} 发现好货
      = render partial: "wide_banner_jd_static", locals: {items: @items}
  .zk-list.clearfix#jdtongdian{style: "min-height:0;"}
  .rel-zk-area
    %p.head
      %span 更多推荐
  .zk-list.clearfix#couponList
    - @jd_items.each do |item|
      .zk-item
        %a{href: "/jdhh/#{item["id"]}/", title: "#{item["title"].split.join}"}
          .img-area
            %img{src: "#{item["pic_url"]}", alt: "#{item["title"].split.join}图片"}
          %p.title-area #{item["title"].split.join}
          %p.title-area #{item["price_info"]}
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 7, pinyin: '', keyword: @detail["title"].split.last, cid: 0,sort: 7, type: 0}

  .rel-zk-area
    %p.head
      %span 随便看看
  .link-area{style: "margin-bottom: 30px;"}
    - @ks.each do |ks|
      %a{href: "/query/#{URI.encode_www_form_component(ks)}/"} #{ks}

= render partial: "footer", locals: {mobile_path: mp}
= render partial: "sider_fixed_area"
