- title("#{@detail["shortTitle"]}_优优好店")
- keywords("#{@detail["shortTitle"]},#{@detail["title"]}")
- head_desc("优优好店 - 商品详情 - #{@detail["shortTitle"]}")
- path("/yh/#{@detail["itemId"]}/")
- mobile_url("http://www.uuhaodian.com/yh/#{@detail["itemId"]}/")

%header.header#header
  = render partial: "header_top"
  = render partial: "header_tab"

.wrapper1200
  = render partial: "lanlan_quan_detail_content"
%aside.wrapper1200
  - if @items.size > 0
    .item-list-top{style: "margin-top: 10px;padding-left:0;"}
      %span.left{style: "padding-left:15px;"} 相关推荐
      = render partial: "wide_banner_tb", locals: {items: @items}
  .rel-zk-area
    %p.head
      %span 更多推荐
  .zk-list.clearfix#couponList
  = render partial: "dg_load_more", locals: {keyword: @detail["title"][-6,6], has_coupon: 0}

= render partial: "footer"
= render partial: "sider_fixed_area"
