- title("#{@keyword}优惠券_#{@keyword}天猫淘宝京东拼多多优惠券_优优好店")
- keywords("#{@keyword},#{@keyword}优惠券,#{@keyword}淘宝优惠券,#{@keyword}天猫优惠券,#{@keyword}京东优惠券,#{@keyword}拼多多优惠券")
- head_desc("优优好店-#{@keyword}商品优惠券搜索结果。您可以在优优好店查找并免费领取#{@keyword}淘宝天猫、京东、拼多多优惠券，并可以按照商品的销量、价格等维度进行筛选，领券后在淘宝、京东、拼多多平台使用并购买商品，即可享受优惠与折扣！")

= render partial: "header_common"
- if @kk.size > 0
  .hori-cate-area
    %div{style: "background-color:#fff;padding:10px 0;height:23px;overflow:hidden;white-space:nowrap;"}
      .wrapper
        - @kk.each do |k|
          %a{href: "/query/#{URI.encode(k)}/", class: "rk", onclick: "_hmt.push(['_trackEvent', '顶部关联词', 'click', 'PC查询页'])"}
            #{k}

.wrapper
  %ul.platform-area
    %li.platform-type{id: "platform_1", data:{type: 1}} 天猫淘宝
    %li.platform-type{id: "platform_2", data:{type: 2}} 京东
    %li.platform-type{id: "platform_3", data:{type: 3}} 拼多多
    %h1{style: "float:right;padding: 0 20px;font-size:14px;"} “#{@keyword[0,40]}”搜索结果
  = render partial: "dg_filter"
  .zk-list.clearfix#couponList{style: "margin-top: 20px;"}
  = render partial: "dg_load_more", locals: {keyword: @keyword}

- if @items_bang && @items_bang.size > 0
  .wrapper
    .item-list-top
      %span.left 优优好店畅销榜 - 大家都在买
      %a{href: "/collection/2/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_bang}

= render partial: "footer"
= render partial: "sider_fixed_area"
