- title("#{@keyword}_#{@keyword}优惠券/价格/比价_优优好店")
- keywords("#{@keyword},#{@keyword}优惠券,#{@keyword}价格,#{@keyword}多少钱,#{@keyword}比价")
- head_desc("优优好店-#{@keyword}商品优惠券搜索结果。您可以在优优好店查找并免费领取#{@keyword}淘宝天猫、京东、拼多多优惠券，并可以按照商品的销量、价格等维度进行筛选，领券后在淘宝、京东、拼多多平台使用并购买商品，即可享受优惠与折扣！")
- path("/query/#{URI.encode_www_form_component(@keyword)}/")
- mobile_url("http://wap.uuhaodian.com/dz/#{URI.encode_www_form_component(@keyword)}/")
- mp = "http://wap.uuhaodian.com/dz/#{URI.encode_www_form_component(@keyword)}/"

= render partial: "header_common"
- if @kk.size > 0
  .hori-cate-area
    %div{style: "background-color:#fff;padding:10px 0;height:23px;overflow:hidden;white-space:nowrap;"}
      .wrapper
        - @kk.each do |k|
          %a{href: "/query/#{URI.encode(k)}/", class: "rk", onclick: "_hmt.push(['_trackEvent', '顶部关联词', 'click', 'PC查询页'])"}
            #{k}

.wrapper1200{style: "margin-top:10px;"}
  %div{style: "height: 80px;"}
    #gy_filter
      .wrapper1200
        %ul.platform-area{style: "margin:0;"}
          %li.platform-type{id: "platform_1", data:{type: 1}} 天猫淘宝
          %li.platform-type{id: "platform_2", data:{type: 2}} 京东
          %li.platform-type{id: "platform_3", data:{type: 3}} 拼多多
          %h1{style: "float:right;padding: 0 20px;font-size:14px;"} “#{@keyword[0,40]}”搜索结果
        = render partial: "dg_filter", locals: {has_coupon: false}
  .zk-list.clearfix#couponList{style: "margin-top: 20px;"}
  = render partial: "dg_load_more", locals: {keyword: @keyword, has_coupon: 0}

- if @items_bang && @items_bang.size > 0
  .wrapper1200
    .item-list-top
      %span.left 优优好店畅销榜 - 大家都在买
      %a{href: "/collection/2/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_bang}
- if @jd_items.size > 0
  .wrapper1200{style: "margin-bottom: 20px;"}  
    .rel-zk-area
      %h2.head 
        %span 更多#{@keyword}推荐
    .zk-list.clearfix
      - @jd_items.each do |item|
        .zk-item
          .img-area
            %a{href: "/jdhh/#{item["id"]}/", title: "#{item["title"].split.join}"}
              %img{src: "#{item["pic_url"]}", alt: "#{item["title"].split.join}图片"}
          %p.title-area 
            %a{href: "/jdhh/#{item["id"]}/", title: "#{item["title"].split.join}"}
              #{item["title"].split.join.gsub(@keyword, "<b>#{@keyword}</b>").html_safe}
          %p.price-area.one{style: "color: red;"} #{item["price_info"]}
          %p.raw-price-area
            %a{href: "/jshop_#{item["shop_id"]}.html"}
              #{item["shop_title"]}

    .rel-zk-area
      %p.head
        %span 随便看看
    .link-area{style: "margin-bottom: 30px;"}
      - @seo_keywords.each do |ks|
        %a{href: "/query/#{URI.encode_www_form_component(ks)}/"} #{ks}

    - if @items_jd_static.size > 0
      .item-list-top{style: "margin-top: 10px;padding-left:0;z-index:1;"}
        %span.left{style: "padding-left:15px;"} 今日上新
        = render partial: "wide_banner_jd_static", locals: {items: @items_jd_static}

    - if @seo_shops.size > 0
      .link-area{style: "margin-bottom: 30px;"}
        - @seo_shops.each do |s|
          %a{href: "/jshop_#{s["shop_id"]}.html"} #{s["shop_name"]}

= render partial: "footer", locals: {mobile_path: mp}
= render partial: "sider_fixed_area"
