- title("#{@keyword},#{@keyword}优惠券_优优好店")
- keywords("#{@keyword},#{@keyword}优惠券")
- head_desc("优优好店 - 搜索结果 - #{@keyword}")

= render partial: "header_common"
= render partial: "header_lanlan_fenlei"
.wrapper
  = render partial: "lanlan_quan_filter"
  .zk-list.clearfix#couponList
  = render partial: "lanlan_load_more", locals: {path: @path, pagesize: 20, sort_type: 7, pinyin: '', keyword: @keyword, cid: 0,sort: 7, type: 0, from_iquan: @from_iquan}

- if @items_bang && @items_bang.size > 0
  .wrapper
    .item-list-top
      %span.left 优优好店畅销榜 - 大家都在买
      %a{href: "/collection/2/"}
        %span.right 查看更多
    = render partial: "wide_banner", locals: {items: @items_bang}

= render partial: "footer"
= render partial: "sider_fixed_area"
