- title("【#{@shop['title']}】#{@shop['title']}优惠券/首页/评价/怎么样_优优好店")
- head_desc("#{@shop['title']} - 优优好店推荐")
- keywords("#{@shop['title']},#{@shop['title']}首页,#{@shop['title']}优惠券,#{@shop['title']}折扣,#{@shop['title']}怎么样,#{@shop['title']}评价,#{@shop['title']}淘宝,#{@shop['title']}天猫")

.dazhe
  .header_pr.header_red.transition
    .icon_header
      .search
        %i
        %a{href: "/dz_search/?source=sshop", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dian'])"}
          %p 输入您需要的商品名称
  %a{href: "https://api.uuhaodian.com/uu/shop_go?shop_id=#{@shop_id}", target: "_blank", onclick: "_hmt.push(['_trackEvent', '店铺点击', 'click', 'dian'])"}
    .shop
      .jbtn
        %span{style: "font-size: 18px;padding: 5px 10px;color:#fff;border-radius:5px;font-weight:bold;background: linear-gradient(to left,#FF5E5E 0,#FF927C 100%);"} 进店看看
      .avatar
        %img{src: "#{@shop['pic_url']}"}
      .info
        %p.title #{@shop['title']}
        %p.desc #{@shop['place']}
        %p.desc 主营：#{@shop['type']}
        %p.desc 评价：优
  .content
    .shop-header #{@shop['title']} - 热销商品
    #dazheList
  .footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=sshop", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'sshop'])"}
      %img.icon{src: "http://www.uuhaodian.com/favicon.ico"}
      .text 优优好店首页
    %a#more_btn.btn.zh{href: "https://13ifsgnd.kuaizhan.com/#/app/down?appId=550416&productType=1&userId=0", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP获取更多优惠

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}

:javascript
  $(".zh").click(function(){window._agl && window._agl.push(['track', ['success', {t: 3}]])})

= render partial: "sem_shop_js"
