- title("销量榜单_优优好店")
- keywords("销量榜单")
- head_desc("优优好店 - 销量榜单")

= render partial: "header_common"

.hori-cate-area
  .cate-l-1
    .wrapper
      %a{href: "/top/", class: "#{'active' if @cid == 0}"} 全部
      - @cates.each do |cate|
        - is_active = cate['cid'].to_i == @cid ? 'active' : ''
        %a{href: "/top/?cid=#{cate['cid']}", class: "#{is_active}"} #{cate['name']}

.wrapper
  = render partial: "fluid_left_guide_1"
  .fluid-right
    .item-list-top
      %span.left 优优好店 - 小时风云榜
      %span{style: "color: #999;font-size: 13px;float:right;padding-right:20px;"} 根据2小时销量统计发布
  .fluid-right#couponList{style: "margin-top:0;border-top: 1px solid #eee;"}
  .fluid-right{style: "background-color:#f6f6f6"}
    = render partial: "lanlan_fluid_load_more", locals: {path: @path, pagesize: 20, sort_type: 9, pinyin: '', keyword: '', cid: @cid,sort: 9, type: 0, from_iquan: @from_iquan}
