- title("京东优惠券,京东优惠券大全,京东优惠券领取与查询-优优好店")
- keywords("优优好店,京东优惠券,京东券,jd券,jd优惠券,东券,京券,京东优惠券领取,京东优惠券领取平台,大额京东优惠券,京东优惠券查询助手,京东优惠券大全")
- head_desc("优优好店——京东优惠券免费领取平台。每日更新海量京东商城优惠券，覆盖的品类已包含：手机、电视、笔记本、平板电脑、显示器、空调、电扇、冰箱、热水器、路由器等等，您可以方便的查询并领取京券和东券。精确找jd券：请直接搜索京东商品的标题或链接，即可找到商品对应的优惠券，领券后下单，可以立减相应金额，5元、10元、50元、100元、500元的券都可能有。优优好店，您可靠的省钱领券小助手，快加入收藏吧！")
- path("")
- mobile_url("http://wap.uuhaodian.com")

.dazhe
  %header
    .header_pr.header_red.transition
      .icon_header
        .search
          %i
          %a{href: "/dz_search/", onclick: "_hmt.push(['_trackEvent', '顶部点击', 'click', 'dazhe_jd'])"}
            %p 输入京东宝贝标题或链接，可精准搜券
    .banner-area.swiper-container.swiper-container-horizontal
      .swiper-wrapper
        - if @banners && @banners.size > 0
          - @banners.each do |b|
            %a.swiper-slide{href: "#{b["link_url"]}", target: "_blank" }
              %img.lazy.new{data: {original: "#{b["img_url"]}"}, style: "width: 100%;"}
      .swiper-bottom
        .swiper-pager
  %article
    %h1.sno 优优好店-京东优惠券
    = render partial: "dazhe_gongzhonghao_guide"
    .top-menu-container{style: "max-width:750px;"}
      .top-menu{style: "max-width:750px;"}
        .inner
          - @kk.each do |k|
            %a.top-menu-item{href: "/dz/#{URI.encode(k)}/"} #{k}
    .content
      #dazheList
      %img#imgLoading{src: "/img/img_loading.gif", width: "200px", style: "margin: 10px auto;"}

    .button-btn.sno#loadRetry 重新加载
    .button-btn.sno#noMore 没有更多了
  %footer.footer
    %a.home.zh{href: "http://m.uuhaodian.com/index.php?r=index/wap&source=dazhe", target: "_blank", onclick:"_hmt.push(['_trackEvent', '首页', 'click', 'dazhe'])"}
      %img.icon{src: "https://www.uuhaodian.com/favicon.ico"}
      .text 更多优惠
    %a#more_btn.btn.zh{href: "https://api.uuhaodian.com/uu/xiaohui_app", target: "_blank", onclick:"_hmt.push(['_trackEvent', '下载app', 'click', 'dazhe'])"} 下载APP成为合作伙伴

.scroll_top.close
  %a{href: "javascript:;"}
    %img{src: "/img/to_top.png"}


:javascript
  $("#ercode_show").click(function(){$("#ercode").removeClass("sno");$("#ercode_show").css("display","none");});

= render partial: "dazhe_js"
